:root { 
    --Black: hsl(227,75%,14%);
    --Neutral800: hsl(226,25%,17%);
    --Neutral700: hsl(225,23%,24%);
    --Neutral600: hsl(226,11%,37%);
    --Neutral300: hsl(0,0%,78%);
    --Neutral200: hsl(217,61%,90%);
    --Neutral100: hsl(0,0%,93%);
    --White: hsl(200,60%,99%);
    --Pink: hsl(3,86%,64%);
    --Brick: hsl(3,71%,56%);
    --Red: hsl(3,77%,44%);
    }

html {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
    @media (prefers-color-scheme: dark) {
        background-image: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    }
}

.upper_bar {
    border-radius: 10px;
}

.logo_extensions {
    position: absolute;
    max-width: 100%;
}

.abc {
    width: 50px;
    height: 50px;
    overflow: hidden; 
}

.theme_button {
    padding: 10px;
    background-color: var(--Neutral700);
    border-radius: 5px;
}

.theme_button:hover, .pill:hover, .remove_button:hover {
    cursor: pointer;
    background-color: var(--Neutral600);
}

h1, h2 {
    color: var(--White);
    font-weight: 700;
    font-family: 'Noto Sans';
}

.logo_title_masker {
    font-size: 1.63em;
    z-index: 3;
}

.list_title {
    font-size: 2rem;
}

nav {
    background-color: transparent;
    gap: 0.5rem;
}

.pill {
    border-radius: 25px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--Neutral100);
}

.extension {
    border: 1px solid var(--Neutral600);
    width: 330px;
}

.light_grey_background {
    background-color: var(--Neutral700);
}

.grey_background {
    background-color: var(--Neutral800);
}

.switch {
    height: 20px;
    width: 40px;
    border-radius: 10px;
}

.active {
    background-color: var(--Pink);
}

.inactive {
    background-color: var(--Neutral700);
}

.switch_button {
    background-color: var(--Neutral100);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.on {
    border: 1px solid var(--Pink);
}

.off {
    border: 1px solid var(--Neutral300);
}

.remove_button {
    border: 1px solid var(--Neutral600);
    border-radius: 25px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 500;
    background-color: transparent;
    color: var(--Neutral100)
}

.none, .removed {
    display: none !important;
}

.shown {
    display: block;
}